.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px 20px 0px;
}

.cardTitle {
  margin: 0px;
  color: var(--PortGreen);
  font-weight: bold;
}

@media (min-width: 320px) {
  .cardTitle {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .cardTitle {
    font-size: 1.4rem;
  }
}
