.actionsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.projectsBtn,
.cvBtn {
  width: 100%;
  margin: 0px 0 0 12px;
  border-radius: 10px;
  border-style: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projectsBtn:hover,
.cvBtn:hover {
  position: relative;
  transform: translateY(5px);
}

.projectsBtn {
  background-color: rgb(58, 56, 54);
  color: white;
}

.cvBtn {
  background-color: rgb(228, 228, 228);
  color: black;
}

.icon {
  margin: auto;
  display: block;
}

@media (min-width: 320px) {
  .projectsBtn,
  .cvBtn {
    max-width: 120px;
    padding: 12px;
  }
}

@media (min-width: 576px) {
  .projectsBtn,
  .cvBtn {
    max-width: 160px;
    padding: 20px;
  }
}
