.projectCardLIst {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 30px;
  list-style: none;
  padding: 0px;
}

.projectCardLIst::after {
  content: "";
  flex: 0 0;
}

@media (min-width: 320px) {
  .projectCardLIst::after {
    flex-basis: 90%;
  }
}

@media (min-width: 768px) {
  .projectCardLIst::after {
    flex-basis: 80%;
  }
}

@media (min-width: 992px) {
  .projectCardLIst::after {
    flex-basis: 45%;
  }
}
