.dropdownList {
  position: absolute;
  top: 90%;
  right: -1%;
  padding: 0px;
  background-color: var(--PortGreen);
  width: 80px;
  border-radius: 15px 0px 15px 0px;
  list-style-type: none;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 960px) {
  .dropdownList {
    left: 0;
    right: 0;
    margin: auto;
  }
}



