/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Jura";
}

p {
  font-family: "Abel";
}

@media (min-width: 320px) {
  a {
    font-size: 1.1rem;
  }
  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 0.9rem;
  }

  h6 {
    font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  a {
    font-size: 1.3rem;
  }
  p {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h6 {
    font-size: 1rem;
  }
}
