@media (min-width: 320px) {
  .contentWrapper {
    width: 100%;
    margin-top: 8px;
    padding: 0 20px 0 20px;
  }
}

@media (min-width: 1200px) {
  .contentWrapper {
    width: 60%;
    margin: 0px auto 0px auto;
    padding: 40px 0px 40px 0px;
  }
}
