.item {
  background-color: var(--PortGreen);
  margin: 0;
  border-radius: 15px 0px 15px 0px;
}

.link {
  text-decoration: none;
  font-family: "Jura";
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.item:hover {
  background-color: black;
}
