.textWrapper{
  position: relative;
  text-align: center;
}

.textWrapper p {
  display: inline-block;
  overflow: hidden;
  text-align: left;
  color: rgba(255, 249, 249, 0.8);
  line-height: 0.9;
  font-family: "Anton";
  margin: 0px;
}

.messageln1, .messageln2, .messageln3 {
  opacity: 0;
  display: block;
}

.name{
  color: var(--PortGreen);
}

.animateLn1, .animateLn2, .animateLn3 {
  animation-direction: reverse;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; 
}

.animateLn1{
  animation-name: moveleft;
  animation-duration: 1s;
}

@keyframes moveleft{
  0%   {opacity: 1;}
  50%  {opacity: 0.6;}
  100% {transform: translateX(60px); opacity: 0.3;}
}

.animateLn2{
  animation-name: moveright;
  animation-duration: 1s;
  animation-delay: 0.5s;

}

@keyframes moveright{
  0%   {opacity: 1;}
  50%  {opacity: 0.5;}
  100% {transform: translateX(-90px); opacity: 0;}
}

.animateLn3{
  animation-name: moveup;
  animation-duration: 1s;
  animation-delay: 1s;
}

@keyframes moveup{
  0%   {opacity: 1;}
  50%  {opacity: 0.5;}
  100% {transform: translateY(50px); opacity: 0;}
}

@media (min-width: 320px) {
  .messageln1, .messageln2{
    font-size: 50px;
  }
  .messageln3{
    font-size: 18px;
  }
}

@media (min-width: 576px) {
  .messageln1, .messageln2{
    font-size: 80px;
  }
  .messageln3{
    font-size: 30px;
  }
}

@media (min-width: 1200px) {
  .messageln1, .messageln2{
    font-size: 95px;
  }
}
