.formWrapper {
  position: relative;
  margin: auto;
  width: 60%;
  padding: 0px 15px 0px 15px;
}

.inputWrapper {
  margin-bottom: 10px;
}

.error {
  color: rgb(173, 51, 51);
  display: block;
  font-family: "Jura";
  font-weight: bold;
}

label {
  color: var(--PortWhiteMuted);
  margin-top: 5px;
  font-family: "Abel";
  font-weight: 600;
}
input,
textarea {
  display: block;
  width: 100%;
  outline: none;
  padding: 10px;
  font-family: "Abel";
  font-size: 1.1rem;
  color: var(--PortWhiteMuted);
  border: solid #5a59593b 3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: transparent;
  transition: border-radius 1.5s;
}

textarea {
  height: 20vh;
}
input:invalid,
textarea:invalid {
  box-shadow: none !important;
}
input:hover,
textarea:hover {
  border-color: var(--PortGreen);
  transition: border-color 0.9s;
}
input:focus {
  border-radius: 20px 0px 20px 0px;
}

textarea:focus {
  border-radius: 0px 20px 0px 20px;
}

textarea:focus,
input:focus {
  border-color: var(--PortGreen);
  border-style: solid;
  transition: border-color, border-style, border-radius 1.1s;
}

@media (min-width: 320px) {
  .formWrapper {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .formWrapper {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .formWrapper {
    width: 55%;
  }
}
